<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dpip.mapper.MedicineHistoryMapper" >
    <resultMap type="com.dpip.po.MedicineHistory" id="MedicineHistoryRM">
         <id property="id" column="id"/>
         <result property="pId" column="p_id"/>
         <result property="mId" column="m_id"/>
         <result property="medicineName" column="m_name"/>
         <result property="timeTake" column="time_take"/>
         <result property="amountTake" column="amount_take"/>
         <result property="timePerDay" column="time_pday"/>
         <result property="startDate" column="start_date"/>
         <result property="attention" column="attention"/>
         <result property="periodTake" column="period_take"/>

    </resultMap>
    <!-- 根据病人id查询病人的用药记录-->
  <select id="select" parameterType="int" resultMap="MedicineHistoryRM">
        select *  from dp_medi_his where
         p_id=#{id}

    </select>

    <select id="getCount" parameterType="com.dpip.po.MedicineHistory" resultType="int">
       <!-- select count(*) from dp_patient
        WHERE 1=1
        <if test="pName !=null"> and p_name like  '%${pName}%' </if>
        <if test="departmentId !=null"> and department_id=#{departmentId}</if>
        &lt;!&ndash;<if test="id !=null"> and id=#{id}</if>&ndash;&gt;-->
    </select>


<insert id="add" parameterType="com.dpip.po.MedicineHistory" >
    insert into dp_medi_his

    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="pId != null" > p_id,</if>
        <if test="medicineName != null" > m_name,</if>
        <if test="timeTake != null" >time_take,</if>
        <if test="amountTake != null" >amount_take,</if>
        <if test="timePerDay != null" >time_pday,</if>
        <if test="startDate != null" >start_date,</if>
        <if test="attention != null" >attention,</if>
        <if test="periodTake != null" >period_take,</if>
        <if test="mId != null" >m_id,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="pId != null" >
            #{pId,jdbcType=TINYINT},
        </if>
        <if test="medicineName != null" >
            #{medicineName,jdbcType=VARCHAR},
        </if>
        <if test="timeTake != null" >
            #{timeTake,jdbcType=VARCHAR},
        </if>
        <if test="amountTake != null" >
            #{amountTake,jdbcType=TINYINT},
        </if>
        <if test="timePerDay != null" >
            #{timePerDay,jdbcType=VARCHAR},
        </if>
        <if test="startDate != null" >
            #{startDate,jdbcType=DATE},
        </if>
        <if test="attention != null" >
            #{attention,jdbcType=VARCHAR},
        </if>
        <if test="periodTake != null" >
            #{periodTake,jdbcType=VARCHAR},
        </if>

        <if test="mId != null" >
            #{mId,jdbcType=TINYINT},
        </if>

    </trim>
  </insert>
    <update id="update" parameterType="com.dpip.po.MedicineHistory">
     <!-- update dp_patient
      <set>
          <if test="pName !=null"> p_name=#{pName},</if>

            <if test="phone !=null"> phone=#{phone},</if>

            <if test="description !=null"> description=#{description},</if>

            <if test="departmentId !=null"> department_id=#{departmentId},</if>

            <if test="sex !=null"> sex=#{sex},</if>

            <if test="age !=null"> age=#{age},</if>

            <if test="icdCode !=null"> icd_code=#{icdCode},</if>

            <if test="pType !=null"> p_type=#{pType},</if>

        </set>
      where id=#{id}-->
    </update>


</mapper>